# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Project Specific
faiss_index/
generated_images/
*.pdf
*.docx
# Ignore all txt files except requirements.txt
*.txt
!requirements.txt

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db